/* @import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap'); */
html{
    background: url(https://images.unsplash.com/photo-1588032786045-59cefda005c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=888&q=80) bottom center;
    background-size: cover;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Ephesis', cursive;
}


.container{
    display: flex;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.button{
    margin: 2rem;
    padding: 1rem .5rem;
    width: 10rem;
    height: auto;
    transition: all 0.07s;
    border: .3rem solid rgb(204, 171, 171);
    text-align: center;
    border-radius: .5rem;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

.sound{
    font-size: 0.8rem;
}

.playing{
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}